.box {
    width: 300px;
    margin: 100px auto;
    
}

.LoginOrSignup {
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 4px 1px #ccc;

}

.LoginOrSignup label {
    font-weight: bold;
}

#login-btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#signup-btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}