.NavBar-collapse {
    display: flex;
    justify-content: flex-end;
}

.NavBar-item {
    margin: 10px;
}

.NavBar-link {
    color: green;
    font-weight: bold;
}
.NavBar-link:hover {
    color:rgb(1, 160, 1);
    text-decoration: none;
    cursor: pointer;
}


