.NavBar-collapse {
    display: flex;
    justify-content: flex-end;
}

.NavBar-item {
    margin: 10px;
}

.NavBar-link {
    color:purple;
}
.NavBar-link:hover {
    color:green;
    text-decoration: none;
    cursor: pointer;
}


